.wrap{
    width:95%;
    margin:0 auto;
}

button{
    outline:none;
    background-color:transparent;
    padding:0;
    border:none;
    cursor: pointer;
}
.web{ display:none; }

/* ====================================.area_1================================== */
.area_1{ border-bottom:1px solid #D22630; }
.area_1 > .wrap{ position:relative; }
#logo{
    display:block;
    width:40%;
    padding:5%;
    margin:0 auto;
}

.area_1 button.mobile{
    position:absolute;
    right:0; top:50%;
    transform:translateY(-50%);
}


/* ====================================.area_2================================== */
.area_2{
    width:50%;
    position:fixed;
    top:0; left:100%; right:0; bottom:0;
    background-color:#FCBE44;
    color:white;
    z-index:100;
}
.area_2 > .wrap{
    padding-left:10%;
    padding-top:8%;
}
.area_2 button.mobile{
    margin-bottom:5%;
    cursor:pointer;
}
#menu_m > li{ margin-bottom:8%; }
#menu_m > li > a{
    display:block;
    font-weight:900;
    font-size:3vw;
    padding:3% 0;
}
#menu_m > li > ul{ display:none; }
#menu_m > li > ul > li{
    padding:3% 0;
}


/* ====================================.area_3================================== */
.area_3 > .wrap{ width:100%; overflow:hidden;}
#slide > ul.mobile{
    width:400%;
}
#slide > ul.mobile::after{ content:""; display: block; clear: both;}
#slide > ul > li{
    float:left;
    width:25%;
}
#slide > ul > li > a > img{
    width:100%
}

/* ====================================.area_4================================== */
.tit > h2{
    font-weight:900;
    font-size:3vw;
    padding-bottom:1%;
    border-bottom:1px solid #D22630;
}

.area_4 > .wrap{
    padding-top:5%;
    overflow:hidden;
}
#prd{
    width:300%;
    padding-top:5%;
}
#prd::after{content:""; display:block; clear:both;}
#prd > li{
    float:left;
    padding-right:20px;
}
#prd > li > a{
    width:320px; height:250px;
    display:block;
    position:relative;
}
#prd > li > a > img{
    display:block;
    float:left;
    width:80px;
    padding-left:10px;
}
#prd > li:nth-child(2) > a > img{
    width:100px;
    padding-top:20px;
}
#prd > li:nth-child(3) > a > img{
    width:140px;
    padding-top:60px;
}
#prd > li > a > h3{
    font-weight:bold;
    font-size:20px;
    line-height:1.1;
    padding-top:70px;
    padding-left:100px;
}
.detail{
    position:absolute;
    top:50%; bottom:0; left:0; right:0;
    background-color: #FCBE44;
    z-index:-1;
}
.detail > span{
    display:block;
    font-size:18px;
    line-height:1.2;
    color:white;
    padding-left:100px;
    padding-top:15px;
}
.detail > span:last-child{ font-weight:bold; }
#prd > li:nth-child(3) > a > .detail > span{ padding-left:150px; }


/* ====================================.area_5================================== */
.area_5 > .wrap{
    padding-top:10%;
    position: relative;
}
#insta{
    margin:0 auto;
    margin-top:8%;
    width:350px; height:360px;
    position:relative;
    border:2px solid #D22630;
}
#insta > img{
    display:block;
    position:absolute;
}
#battery{ top:10px; left:10px; }
#rec{ top:10px; right:10px; }
#border{
    width:320px;
    top:45px; left:50%;
    transform: translateX(-50%);
}
#blur{
    filter:blur(5px);
    display: block;
    position: absolute;
    top:55%; left:50%;
    transform:translate(-50%, -50%);
    width:28%;
    z-index: 10;
}
#lip{
    opacity:0;
    display:block;
    width:100px;
    position: absolute;
    top:55%; left:50%;
    transform: translate(-50%, -50%);
}
#back_r{
    position:absolute;
    margin-top:160px;
    /* width:90%; */
    left:0; right:100%;
    height:160px;
    background-color: #D22630;
}
#back_y{
    height:200px;
    margin-top:25px;
    margin-left:10%;
    background-color:#FCBE44;
    position:relative;
}
#contents_5{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
}

#back_y > img{
    display:block;
    position: absolute;
    width:180px;
    bottom:-40px; right:20px;
}


/* ====================================.area_6================================== */


/* ====================================.area_7================================== */
footer > .wrap > ul{
    margin-left: 240px;
    height:10px;
}

footer > .wrap > ul > li{
    font-size:1.5vw;
    white-space: nowrap;
    width: 25%;
}
footer > .wrap > span{
    font-size:1.5vw;
}
/* ====================================footer================================== */
footer > .wrap > span{
    margin-left:240px;
    margin-top:8px;
}
